.formStyle {
  width: 83%;
  margin: 40px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.FeedbackHeading h3 {
  background: #2a88ad;
  padding: 20px 30px 15px 30px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257c9e;
}

.feedbackFormStyle {
  padding: 15px 35px 15px 35px;
}
.formStyle form label {
  color: #257c9e;
  font-weight: 600;
}
